bird game.json
[{"id":"41e25ed5.94763","type":"tab","label":"Game online","disabled":false,"info":""},{"id":"dc524d2e.7efd2","type":"ui_template","z":"41e25ed5.94763","d":true,"group":"16fdc5e1.9ee0fa","name":"","order":4,"width":0,"height":0,"format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\">Some text</div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Do something when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n    }\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":220,"wires":[[]]},{"id":"24ff5053.cec3e","type":"inject","z":"41e25ed5.94763","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello Pun","payloadType":"str","x":440,"y":220,"wires":[["dc524d2e.7efd2"]]},{"id":"18d545c1.d7747a","type":"ui_template","z":"41e25ed5.94763","d":true,"group":"16fdc5e1.9ee0fa","name":"game","order":5,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n</head>\n<body>\n   \n   <embed src=\"/music/good_enough.mp3\" width=\"180\" height=\"90\" loop=\"false\" autostart=\"false\" hidden=\"true\" />\n    <canvas id=\"c\" width=\"500\" height=\"500\"></canvas>\n    <script>\n\n        context = c.getContext('2d');\n        const bird = new Image();\n        bird.src = \"https://sites.google.com/a/harnthao.ac.th/benzbobenz/_/rsrc/1452756748853/kuma/1.jpg\"\n        const back1 = new Image();\n        back1.src = \"https://pbs.twimg.com/media/EFet-xrUYAIyJac.jpg\"\n        const back2 = new Image();\n        back2.src =\"https://pbs.twimg.com/media/ENXbsStUYAEERYk.jpg\"\n        const back3 = new Image();\n        back3.src =\"https://pbs.twimg.com/media/EQbJaC4VAAMV4NF.jpg\"\n        const back5 = new Image();\n        back5.src = \"https://pbs.twimg.com/media/D796FhkUYAArWI4.jpg\"\n        const back4 = new Image();\n        back4.src =\"https://pbs.twimg.com/media/EDnETD8UcAAwXvt.jpg\"\n        const end = new Image();\n        end.src =\"https://pbs.twimg.com/media/ENXbsStUYAEERYk.jpg\"\n        birdX = birdDY = score = bestScore =0;\n        birdSize = 100;\n        pipeWidth =topPipeBottomY =50;\n        \n\n        interval =25;\n        birdY = 200;\n        pipeGap =200;\n        canvasSize =500;\n        pipeX = 500;\n        c.onclick = () => {birdDY = 8}\n        setInterval(() => {\n            //context.fillStyle = \"skyblue\";\n            context.drawImage(back1,0,0,500,500)\n            if (score >= 300) {\n                context.drawImage(back2,0,0,500,500);\n            }\n            if (score >= 550) {\n                context.drawImage(back3,0,0,500,500);\n            }\n            if (score >= 800) {\n                context.drawImage(back4,0,0,500,500);\n            }\n            \n            //context.fillRect(0,0,canvasSize,canvasSize)\n            birdY -= birdDY -=0.5;\n            context.drawImage(bird,birdX,birdY,birdSize,birdSize);\n            \n            \n            context.fillStyle = \"pink\";\n            pipeX -=10;\n            pipeX < -pipeWidth && ((pipeX = canvasSize),(topPipeBottomY = pipeGap * Math.random()),pipeGap = 200+100*Math.random());\n            context.fillRect(pipeX,0,pipeWidth,topPipeBottomY);\n            context.fillRect(pipeX,topPipeBottomY + pipeGap,pipeWidth,400);\n            context.font= \"15px Arial\";\n            context.fillStyle = \"black\";\n            context.fillText(`Score: ${score++}`,25,35);\n            bestScore = bestScore < score ? score : bestScore;\n            \n            context.fillText(`Bestscore: ${bestScore}`,25,60);\n            (((birdY < topPipeBottomY-20) && (pipeX < birdSize)||(birdY > topPipeBottomY + 150) && (pipeX < birdSize))\n            ||birdY > canvasSize )&& ((birdY =0),(pipeX = canvasSize),(score =0));\n            context.font= \"40px Arial\";\n            context.fillStyle = \"black\";\n            \n            if (score >= 1000) {\n                context.drawImage(back5,0,0,500,500);\n              \n                }\n                \n                \n\n            \n\n        },interval) \n    </script> \n</body>\n</html>    ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":220,"wires":[[]]},{"id":"39db860c.a93f8a","type":"debug","z":"41e25ed5.94763","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"15b75a6a.5d5af6","type":"ui_template","z":"41e25ed5.94763","group":"9aab350d.a99558","name":"gameweb","order":2,"width":10,"height":9,"format":"<!DOCTYPE html>\n<html>\n<body>\n    <canvas id=\"c\" width=\"500\" height=\"500\"></canvas>\n   \n<script type=\"text/javascript\">\n\nvar theScope = scope;\nvar bleh = null;\nvar player = \"AA\";\n\n// Watch the payload and update\n\n(function(scope) {\n        \n    \n            context = c.getContext('2d');\n        const bird = new Image();\n        bird.src = \"https://www.pinclipart.com/picdir/big/89-893608_flying-clip-art.png\";\n        // bird.src = \"https://i.pinimg.com/originals/cd/9a/a7/cd9aa77af526835cd18a7c5a0868e35d.png\";\n        birdX = birdDY = score = bestScore = 0;\n        birdSize = 100;\n        pipeWidth = topPipeBottomY = 50;\n        interval = 25; //framerate\n        birdY = pipeGap = 200;\n        // pipeGap = 200;\n        canvasSize = pipeX = 500; \n        c.onclick = () => {birdDY = 8} \n        setInterval(() => {\n\n            context.fillStyle = \"skyblue\";\n            context.fillRect(0,0,canvasSize,canvasSize); //Sky\n\n            birdY -= birdDY -= 0.5;   // Gravity\n            context.drawImage(bird,birdX,birdY,birdSize,birdSize); // Bird\n\n            context.fillStyle = \"brown\";\n            pipeX -= 10; // Move pipe\n            pipeX < -pipeWidth && ((pipeX = canvasSize),(topPipeBottomY = pipeGap * Math.random()),(pipeGap = 200 + 100*Math.random()));\n            context.fillRect(pipeX, 0 , pipeWidth,topPipeBottomY);\n            context.fillRect(pipeX, topPipeBottomY + pipeGap , pipeWidth, canvasSize);\n\n            context.fillStyle = \"black\";\n            context.font = \"20px Verdana\";\n\n            context.fillText(`Score = ${score++}`,10,20);\n            bestScore = bestScore < score ? score : bestScore;\n\n            context.fillStyle = \"white\";\n            context.font = \"30px Verdana\";\n            context.fillText(`Best: ${bestScore}`,10,45);\n            context.fillText(`Name: ${player}`,10,70);\n\n\n            (((birdY < topPipeBottomY ||birdY>topPipeBottomY+pipeGap-80) && pipeX < birdSize) //Hit pipe\n            ||birdY > canvasSize) &&  // Fall\n            ((birdY = 100),(birdDY = 2),(pipeX = canvasSize),\n            \n            // (theScope.send({payload:\n            // {\n            //     BestScore:bestScore,\n            //     Score:score\n                \n            // }\n                \n            // })),\n            \n            (score = 0)); //Reset\n\n        },interval)\n    \n    \n scope.$watch('msg.payload', function(data) {\n \nplayer = data;\ntheScope.send({payload:player});\n \n\n });\n})(scope);\n\n</script>\n\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":560,"y":380,"wires":[["39db860c.a93f8a"]]},{"id":"c1fef1db.62782","type":"inject","z":"41e25ed5.94763","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":370,"y":340,"wires":[["15b75a6a.5d5af6"]]},{"id":"937f048e.da0b48","type":"ui_text_input","z":"41e25ed5.94763","name":"","label":"","tooltip":"","group":"9aab350d.a99558","order":1,"width":10,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":360,"y":420,"wires":[["15b75a6a.5d5af6"]]},{"id":"56b2fdff.b92f24","type":"function","z":"41e25ed5.94763","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nmsg.payload = \"CC\";\nreturn msg;","finalize":"","x":370,"y":280,"wires":[["15b75a6a.5d5af6"]]},{"id":"16fdc5e1.9ee0fa","type":"ui_group","name":"Buttons","tab":"8f57f520.e87078","order":1,"disp":false,"width":"6","collapse":false},{"id":"9aab350d.a99558","type":"ui_group","name":"gameweb","tab":"d1d4fa15.6a2398","order":1,"disp":true,"width":"10","collapse":false},{"id":"8f57f520.e87078","type":"ui_tab","name":"Some buttons","icon":"dashboard","order":1},{"id":"d1d4fa15.6a2398","type":"ui_tab","name":"Gameweb","icon":"dashboard","disabled":false,"hidden":false}]