gauge.json
[{"id":"1378bec8.3ceae1","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f13cc85.7df0038","type":"comment","z":"1378bec8.3ceae1","name":"Example use of Steelseries Gauge","info":"","x":220,"y":140,"wires":[]},{"id":"691dd2b3.59523c","type":"function","z":"1378bec8.3ceae1","name":"","func":"msg.odo = msg.value;\nmsg.value \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["d65bf614.c62358"]]},{"id":"d65bf614.c62358","type":"ui_template","z":"1378bec8.3ceae1","group":"1e03a2b2.83a61d","name":"rgraph","order":1,"width":"6","height":"6","format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n\n<script src=\"https://cdn.jsdelivr.net/npm/steelseries@1.0.7/dist/steelseries.min.js\"></script>\n\n\n<script>\nvar radial4;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.value) != \"undefined\") radial4.setValueAnimated(msg.value);\n           if (typeof(msg.threshold) != \"undefined\") radial4.setThreshold(msg.threshold);\n           if (typeof(msg.odo) != \"undefined\")radial4.setOdoValue(msg.odo);  \n           if (typeof(msg.userLed) != \"undefined\") radial4.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial4.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial4.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial4.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial4.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(0, 25, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(25, 50, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(50, 75, 'rgba(220, 220, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(75, 100, 'rgba(220, 0, 0, 0.3)')],\n\n    radial4 = new steelseries.Radial('canvasRadial4', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Heating\",\n            unitString: \"Degrees C\",\n            threshold: 50,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: true,\n            lcdVisible: true,\n            trendVisible: true\n        });\n                        \n    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial4.setValueAnimated(0);\n    radial4.setThreshold(50);\n    radial4.blinkUserLed(0);\n    radial4.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasRadial4\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":970,"y":340,"wires":[[]]},{"id":"428ab8c6.440cb8","type":"inject","z":"1378bec8.3ceae1","name":"Set needle to 88","repeat":"","crontab":"","once":false,"topic":"","payload":"88","payloadType":"num","x":380,"y":440,"wires":[["919a1f65.cedd6"]]},{"id":"61a08deb.8171f4","type":"inject","z":"1378bec8.3ceae1","name":"Set needle to 33","repeat":"","crontab":"","once":false,"topic":"","payload":"33","payloadType":"num","x":380,"y":480,"wires":[["919a1f65.cedd6"]]},{"id":"919a1f65.cedd6","type":"function","z":"1378bec8.3ceae1","name":"","func":"msg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["d65bf614.c62358"]]},{"id":"cd60f67a.e6d898","type":"inject","z":"1378bec8.3ceae1","name":"Set threshhold to 60","repeat":"","crontab":"","once":false,"topic":"","payload":"60","payloadType":"num","x":390,"y":520,"wires":[["d3df7e6a.cac3f"]]},{"id":"2bf0aaee.e8eac6","type":"inject","z":"1378bec8.3ceae1","name":"Set threshold to 30","repeat":"","crontab":"","once":false,"topic":"","payload":"30","payloadType":"num","x":390,"y":560,"wires":[["d3df7e6a.cac3f"]]},{"id":"d3df7e6a.cac3f","type":"function","z":"1378bec8.3ceae1","name":"","func":"msg.threshold=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["d65bf614.c62358"]]},{"id":"b9fb5283.eff8f","type":"inject","z":"1378bec8.3ceae1","name":"Set user LED ON","repeat":"","crontab":"","once":false,"topic":"","payload":"true","payloadType":"bool","x":380,"y":601,"wires":[["e8dc393a.d09bc8"]]},{"id":"cc7bed4c.f36d4","type":"inject","z":"1378bec8.3ceae1","name":"Setuser LED OFF","repeat":"","crontab":"","once":false,"topic":"","payload":"false","payloadType":"bool","x":390,"y":641,"wires":[["e8dc393a.d09bc8"]]},{"id":"e8dc393a.d09bc8","type":"function","z":"1378bec8.3ceae1","name":"","func":"msg.userLed=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":620,"wires":[["d65bf614.c62358"]]},{"id":"d33ce54.1adcc18","type":"comment","z":"1378bec8.3ceae1","name":"Example use of Steelseries Gauge","info":"","x":420,"y":400,"wires":[]},{"id":"48bcef5b.5e189","type":"inject","z":"1378bec8.3ceae1","name":"Trend UP","repeat":"","crontab":"","once":false,"topic":"","payload":"1","payloadType":"num","x":360,"y":680,"wires":[["1f7ce391.8ddcac"]]},{"id":"9f96cbb4.93fa08","type":"inject","z":"1378bec8.3ceae1","name":"Steady","repeat":"","crontab":"","once":false,"topic":"","payload":"0","payloadType":"num","x":350,"y":720,"wires":[["1f7ce391.8ddcac"]]},{"id":"1f7ce391.8ddcac","type":"function","z":"1378bec8.3ceae1","name":"","func":"msg.trend=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":720,"wires":[["d65bf614.c62358"]]},{"id":"e15c51e.f144cb","type":"inject","z":"1378bec8.3ceae1","name":"Down","repeat":"","crontab":"","once":false,"topic":"","payload":"-1","payloadType":"num","x":350,"y":760,"wires":[["1f7ce391.8ddcac"]]},{"id":"d623598e.becc08","type":"inject","z":"1378bec8.3ceae1","name":"Off","repeat":"","crontab":"","once":false,"topic":"","payload":"-2","payloadType":"num","x":350,"y":800,"wires":[["1f7ce391.8ddcac"]]},{"id":"d2daae16.05e2a","type":"inject","z":"1378bec8.3ceae1","name":"ODO 50","repeat":"","crontab":"","once":false,"topic":"","payload":"50","payloadType":"num","x":360,"y":840,"wires":[["1376cc48.6f9924"]]},{"id":"e26dfdcd.45a23","type":"inject","z":"1378bec8.3ceae1","name":"ODO 78.6","repeat":"","crontab":"","once":false,"topic":"","payload":"78.6","payloadType":"num","x":360,"y":880,"wires":[["1376cc48.6f9924"]]},{"id":"1376cc48.6f9924","type":"function","z":"1378bec8.3ceae1","name":"","func":"msg.odo=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["d65bf614.c62358"]]},{"id":"8cb92149.5c66d","type":"function","z":"1378bec8.3ceae1","name":"","func":"var c = flow.get('counter') || 0;\nc += 5;\nc = (c>200)? 0 : c\nif (c > 200){\n    c=0\n}\nmsg.c = c\nflow.set(\"counter\",c)\nif(c<100){\n    msg.payload = c;\n}else{\n    msg.payload = 200-c;\n}\nmsg.odo = msg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":260,"wires":[["d65bf614.c62358"]]},{"id":"f8efc26c.38471","type":"function","z":"1378bec8.3ceae1","name":"","func":"\nmsg.odo = msg.value = 100*Math.random();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["d65bf614.c62358"]]},{"id":"edc8470a.509158","type":"inject","z":"1378bec8.3ceae1","name":"RandomNumber","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":340,"wires":[["f8efc26c.38471"]]},{"id":"fd66dfec.c7196","type":"inject","z":"1378bec8.3ceae1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":260,"wires":[["8cb92149.5c66d"]]},{"id":"1e03a2b2.83a61d","type":"ui_group","name":"testy","tab":"f9bab960.c839b8","order":1,"disp":true,"width":"6"},{"id":"f9bab960.c839b8","type":"ui_tab","name":"testy","icon":"dashboard"}]